.shopping-app{
    border: blue 1px solid;
    display: flex;
    height: 500px;
    width: 500px;
}

.product-selection{
    border: green 1px solid;
    display: flex;
    height: 500px;
    width: 250px;
}