.calculator{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.digit{
    border: 1px solid blue;
    /* width: 100%; */
    height: 40px;
    display: flex;
    justify-content: center;
}
.operation{
    border: 1px solid green;
    width: 20px;
    display: flex;
    justify-content: center;
}